@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;800&display=swap');

:root {
    --dark : #100E17;
    --primary : #0BBBA0;
    --black : #030304;
    --dark-gray : #0A090F;
}